<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Log In</title>

<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
	rel="stylesheet">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css"
	rel="stylesheet">

<style>
body {
	background: #f8f9fa;
}

.login-box {
	max-width: 400px;
	margin: 100px auto;
	padding: 30px;
	background: #fff;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
</style>
</head>

<body>
	<div class="login-box">
		<h3 class="text-center mb-4">Log In</h3>

		<form th:action="@{/login}" method="post">

			<div class="mb-3">
				<label>Email Address</label> <input type="email" id="email"
					name="email" class="form-control" placeholder="example@gmail.com"
					required onfocus="hideMessage()">
			</div>

			<div class="mb-3">
				<label>Password</label>
				<div class="input-group">
					<input type="password" id="password" name="password"
						class="form-control" required onfocus="hideMessage()"> <span
						class="input-group-text" style="cursor: pointer"
						onclick="togglePassword()"> <i class="bi bi-eye"
						id="eyeIcon"></i>
					</span>
				</div>
			</div>

			<div th:if="${error}" id="errorMessage" class="alert alert-danger">[[${error}]]</div>
			<div th:if="${message}" id="successMessage"
				class="alert alert-success">[[${message}]]</div>

			<button type="submit" class="btn btn-primary w-100">Login</button>
		</form>

		<div class="text-center mt-3">
			<p>
				Don't have an account? <a th:href="@{/register}">Create one
					here.</a>
			</p>
		</div>

		<div class="text-center mt-2">
			<a th:href="@{/forgot-password}">Forgot your password?</a>
		</div>

		<div class="text-center mt-3">
			<a href="/oauth2/authorization/google" class="btn btn-danger w-100">
				<i class="bi bi-google"></i> Sign in with Google
			</a>
		</div>
	</div>




	<script>
		function togglePassword() {
			const password = document.getElementById("password");
			const eyeIcon = document.getElementById("eyeIcon");

			if (password.type === "password") {
				password.type = "text";
				eyeIcon.classList.replace("bi-eye", "bi-eye-slash");
			} else {
				password.type = "password";
				eyeIcon.classList.replace("bi-eye-slash", "bi-eye");
			}
		}
	</script>

	<script>
		function hideMessage() {
			const error = document.getElementById("errorMessage");
			const success = document.getElementById("successMessage");
			if (error) {
				error.style.display = "none";

			}
			if (success) {
				success.style.display = "none";

			}
		}
	</script>


</body>
</html>
